.CodeEditor-text-areas-container {
    display: flex;
  }
  
.CodeEditor-text-area {
    width: 100%; /* Set the width of each textarea to 50% of the container */
    margin-right: 10px; /* Add some margin between the textareas */
    height: 30vh;
    background-color: #D0D0D0;
    color: black;
    border: 2px white;
    border-radius: 20px;
    padding: 20px;
    
  }
  